$desc_color: blue;
$linear_color: purple;

CountdownTimerContainer {
    layout: horizontal;
    /* background: $boost; */
    height: 9;
    padding: 1;
    margin: 1;
    border: heavy round purple;
    overflow-y: auto;
    /* overflow-x: scroll; */
}

CountdownTimerWidget {
    width: 12;
    height: 3;
    padding: 2;
    content-align: center middle;
}

Button {
    padding: 0;
    margin: 1;
}

#linear {
    height: 5;
    border: round $linear_color;
    width: 20;
}

#linear:focus {
    border: tall $linear_color;
}

#description {
    height: 5;
    border: round $desc_color;
    width: 40;
}

#description:focus {
    border: tall $desc_color;
}

/*
CountdownTimerWidget {
    content-align: center middle;
    height: 3;
    layout: horizontal;

} */