$desc_color: blue;
$linear_color: purple;
$timer_width: 13;
$text_padding: 1 0 1 1;

Screen {
    layers: base sidebar config;
}

GlobalTimerComponent {
	dock: top;
	content-align: center middle;
	layout: grid;
	grid-size: 3 1;
	height: auto;
}


CountdownTimerComponent {
    layout: horizontal;
    background: $boost;
    height: 7;
    padding: 1;
    margin: 1;
    /* dock: top; */
    /* border: heavy round grey; */
    overflow-y: auto;
    /* overflow-x: scroll; */
}

CountdownTimerWidget {
    width: $timer_width;
    height: 3;
    padding: 2;
    content-align: center middle;
}

CountdownTimerComponent.active {
    background: palevioletred;
}
CountdownTimerComponent:focus {
    background: green;
}

ConfigForm {

}

ConfigFields {
    background: $panel;
    layer: sidebar;
    dock: right;
    width: 50%;
    layout: grid;
    grid-size: 2;
    grid-columns: 20 1fr;
    padding: 1;
}

Button {
    padding: 0;
    margin: 1;
    width: 12;
    min-width: 4;
}

#linear {
    height: 5;
    border: round $linear_color;
    width: 20;
    padding: $text_padding;
}

#linear:focus {
    border: tall $linear_color;
}

#description {
    height: 5;
    border: round $desc_color;
    width: 40;
    padding: $text_padding;
}

#time_input {
    width: $timer_width;
    height: 5;
    border: round $desc_color;
    border: none;
    padding: 2;
}

#description:focus {
    border: tall $desc_color;
}

#time_input {
}

.hidden {
    display: none;
}

/*
CountdownTimerWidget {
    content-align: center middle;
    height: 3;
    layout: horizontal;

} */
